.root {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  padding-right: 16px;
  padding-left: 16px;
  min-width: 0;
  min-height: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    width: 100%;
    height: 100%;
    min-width: 0;
    min-height: 0;
  }
}
.header:global(.__wab_instance) {
  position: relative;
}
.pricingSection:global(.__wab_instance) {
  position: relative;
}
.columns {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 960px;
  min-width: 0;
}
.columns > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.columns > :global(.__wab_flex-container) > :nth-child(3n + 1) {
  width: calc((100% - 3 * 16px) * 4 / 12);
}
.columns > :global(.__wab_flex-container) > :nth-child(3n + 2) {
  width: calc((100% - 3 * 16px) * 4 / 12);
}
.columns > :global(.__wab_flex-container) > :nth-child(3n + 3) {
  width: calc((100% - 3 * 16px) * 4 / 12);
}
.columns > :global(.__wab_flex-container) > *,
.columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns > :global(.__wab_flex-container) > picture > img,
.columns
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) {
    flex-direction: column;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 20px);
    height: calc(100% + 20px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 16px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) > *,
  .columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns > :global(.__wab_flex-container) > picture > img,
  .columns
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 20px;
  }
}
.column__sk0 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 33.333333%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__sk0 {
    width: 100%;
  }
}
.plan__okBww:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.text__pErPv {
  font-size: 48px;
}
.freeBox__qdxh {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox__qdxh > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__qdxh > :global(.__wab_flex-container) > *,
.freeBox__qdxh > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__qdxh > :global(.__wab_flex-container) > picture > img,
.freeBox__qdxh
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.bullet__mwKAw:global(.__wab_instance) {
  position: relative;
}
.bullet__cdP4H:global(.__wab_instance) {
  position: relative;
}
.bullet__vUhy4:global(.__wab_instance) {
  position: relative;
}
.button__n82Dp:global(.__wab_instance) {
  position: relative;
}
.svg__wiin9 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__ooWji {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.column__eBcQn {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 33.333333%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__eBcQn {
    width: 100%;
  }
}
.plan__rWs5Q:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.text__nb6On {
  font-size: 48px;
}
.freeBox__hbPix {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox__hbPix > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__hbPix > :global(.__wab_flex-container) > *,
.freeBox__hbPix > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__hbPix > :global(.__wab_flex-container) > picture > img,
.freeBox__hbPix
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.bullet__bkfzR:global(.__wab_instance) {
  position: relative;
}
.bullet__cvJd4:global(.__wab_instance) {
  position: relative;
}
.bullet__p8NLo:global(.__wab_instance) {
  position: relative;
}
.bullet__dyNsE:global(.__wab_instance) {
  position: relative;
}
.button__t8QpG:global(.__wab_instance) {
  position: relative;
}
.svg__qpRrf {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg___3Adk {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.column___5Eu4B {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 33.333333%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column___5Eu4B {
    width: 100%;
  }
}
.plan___72LCe:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.text___2NfrY {
  font-size: 48px;
}
.freeBox__tqGa5 {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox__tqGa5 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__tqGa5 > :global(.__wab_flex-container) > *,
.freeBox__tqGa5 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__tqGa5 > :global(.__wab_flex-container) > picture > img,
.freeBox__tqGa5
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.bullet__dveNy:global(.__wab_instance) {
  position: relative;
}
.bullet__sa93:global(.__wab_instance) {
  position: relative;
}
.bullet__y5Phz:global(.__wab_instance) {
  position: relative;
}
.button__fU1Dt:global(.__wab_instance) {
  position: relative;
}
.svg__ffR0O {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__v91Xn {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.faqSection:global(.__wab_instance) {
  position: relative;
}
.freeBox__mGnuP {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__mGnuP > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox__mGnuP > :global(.__wab_flex-container) > *,
.freeBox__mGnuP > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__mGnuP > :global(.__wab_flex-container) > picture > img,
.freeBox__mGnuP
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.faq__vtjKc:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.faq___6MiM5:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.footer:global(.__wab_instance) {
  position: relative;
}
