.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 16px;
  min-width: 0;
}
.freeBox__pWhah {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__ilM9W {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  display: flex;
  flex-direction: row;
}
.slotTargetTime {
  color: var(--token-NEon4Y--Z);
}
.freeBox__ndiFq {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  display: flex;
  flex-direction: row;
}
.slotTargetStatus {
  color: var(--token-NEon4Y--Z);
}
.freeBox__iFhPi {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 82%;
  min-width: 0;
  padding: 8px;
}
.freeBox___5TwZu {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.freeBox___7DV {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  display: flex;
  flex-direction: row;
}
.slotTargetTeam1 {
  font-size: 26px;
  color: var(--token-NEon4Y--Z);
}
.freeBox__sbF5Q {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  display: flex;
  flex-direction: row;
}
.slotTargetScore1 {
  font-size: 32px;
  font-weight: 700;
  color: var(--token-NEon4Y--Z);
}
.text {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
}
.h2 {
  color: var(--token-eoKrlLGaw);
  font-size: 32px;
}
.freeBox___41VGo {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  display: flex;
  flex-direction: row;
}
.slotTargetScore2 {
  font-size: 32px;
  font-weight: 700;
  color: var(--token-NEon4Y--Z);
}
.freeBox__oenMi {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.freeBox__rn24K {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  display: flex;
  flex-direction: row;
}
.slotTargetTeam2 {
  font-size: 26px;
  color: var(--token-NEon4Y--Z);
}
.freeBox__e24Cf {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__o4BZ3 {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
}
