.root {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    width: 100%;
    height: 100%;
    min-width: 0;
    min-height: 0;
  }
}
.header:global(.__wab_instance) {
  position: relative;
}
.section:global(.__wab_instance) {
  position: relative;
}
.freeBox__kjEkF {
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: var(--token-DRPugNPrh3qNy0);
  display: flex;
  min-width: 0;
}
.freeBox__kjEkF > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.freeBox__kjEkF > :global(.__wab_flex-container) > *,
.freeBox__kjEkF > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__kjEkF > :global(.__wab_flex-container) > picture > img,
.freeBox__kjEkF
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 64px;
}
.columns__eatp {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
}
.columns__eatp > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.columns__eatp > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * 32px) * 6 / 12);
}
.columns__eatp > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * 32px) * 6 / 12);
}
.columns__eatp > :global(.__wab_flex-container) > *,
.columns__eatp > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__eatp > :global(.__wab_flex-container) > picture > img,
.columns__eatp
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__eatp {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    flex-shrink: 1;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__eatp > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap-reverse;
    min-width: 0;
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__eatp > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 32px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__eatp > :global(.__wab_flex-container) > *,
  .columns__eatp > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__eatp > :global(.__wab_flex-container) > picture > img,
  .columns__eatp
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 16px;
  }
}
.column___0VIoz {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column___0VIoz {
    width: 100%;
  }
}
.freeBox__lqrUx {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox__lqrUx > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.freeBox__lqrUx > :global(.__wab_flex-container) > *,
.freeBox__lqrUx > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__lqrUx > :global(.__wab_flex-container) > picture > img,
.freeBox__lqrUx
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__lqrUx {
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__lqrUx > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.text___9LF9T {
  font-size: 32px;
  font-weight: 700;
  color: var(--token-NEon4Y--Z);
  position: relative;
  text-align: left;
}
.text__ec40P {
  position: relative;
  text-align: left;
}
.bullet___0SOG:global(.__wab_instance) {
  position: relative;
}
.bullet__yFx:global(.__wab_instance) {
  position: relative;
}
.bullet__mShgh:global(.__wab_instance) {
  position: relative;
}
.text__crKt5 {
  position: relative;
  text-align: left;
}
.freeBox__mdUpR {
  flex-direction: row;
  display: flex;
  position: relative;
  margin-top: calc(16px + 12px) !important;
}
.freeBox__mdUpR > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.freeBox__mdUpR > :global(.__wab_flex-container) > *,
.freeBox__mdUpR > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__mdUpR > :global(.__wab_flex-container) > picture > img,
.freeBox__mdUpR
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__mdUpR {
    display: flex;
    flex-direction: column;
    margin-top: calc(16px + 12px) !important;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__mdUpR > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__mdUpR > :global(.__wab_flex-container) > *,
  .freeBox__mdUpR > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__mdUpR > :global(.__wab_flex-container) > picture > img,
  .freeBox__mdUpR
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 8px;
  }
}
.button__uWcnB:global(.__wab_instance) {
  position: relative;
}
.svg___5C6Te {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__i4C7E {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__houfK:global(.__wab_instance) {
  position: relative;
}
.svg__gwCc3 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__vNgwr {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.column__omi0Q {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__omi0Q {
    width: 100%;
  }
}
.img__bv2TA {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img__bv2TA > picture > img {
  object-fit: cover;
}
.img__bv2TA > .__wab_img-spacer > img {
  object-fit: cover;
}
.columns__o0VpY {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  min-width: 0;
}
.columns__o0VpY > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.columns__o0VpY > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * 32px) * 6 / 12);
}
.columns__o0VpY > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * 32px) * 6 / 12);
}
.columns__o0VpY > :global(.__wab_flex-container) > *,
.columns__o0VpY > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__o0VpY > :global(.__wab_flex-container) > picture > img,
.columns__o0VpY
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__o0VpY {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__o0VpY > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__o0VpY > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 32px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__o0VpY > :global(.__wab_flex-container) > *,
  .columns__o0VpY > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__o0VpY > :global(.__wab_flex-container) > picture > img,
  .columns__o0VpY
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 16px;
  }
}
.column__j9J8R {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__j9J8R {
    width: 100%;
  }
}
.img__ttGl {
  position: relative;
  object-fit: cover;
  width: 100%;
  align-self: flex-start;
  min-width: 0;
}
.img__ttGl > picture > img {
  object-fit: cover;
}
.img__ttGl > .__wab_img-spacer > img {
  object-fit: cover;
}
.column___54Lk {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column___54Lk {
    width: 100%;
  }
}
.freeBox__oXsif {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox__oXsif > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.freeBox__oXsif > :global(.__wab_flex-container) > *,
.freeBox__oXsif > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__oXsif > :global(.__wab_flex-container) > picture > img,
.freeBox__oXsif
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__oXsif {
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__oXsif > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.text__w0QaR {
  font-size: 32px;
  font-weight: 700;
  color: var(--token-NEon4Y--Z);
  position: relative;
  text-align: left;
}
.text__htDmg {
  position: relative;
  text-align: left;
}
.bullet__ej1Er:global(.__wab_instance) {
  position: relative;
}
.bullet__aNbw:global(.__wab_instance) {
  position: relative;
}
.bullet__nxgrD:global(.__wab_instance) {
  position: relative;
}
.text__ebCoB {
  position: relative;
  text-align: left;
}
.freeBox___4L4M {
  flex-direction: row;
  display: flex;
  position: relative;
  margin-top: calc(16px + 12px) !important;
}
.freeBox___4L4M > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.freeBox___4L4M > :global(.__wab_flex-container) > *,
.freeBox___4L4M > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___4L4M > :global(.__wab_flex-container) > picture > img,
.freeBox___4L4M
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___4L4M {
    display: flex;
    flex-direction: column;
    margin-top: calc(16px + 12px) !important;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___4L4M > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___4L4M > :global(.__wab_flex-container) > *,
  .freeBox___4L4M > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___4L4M > :global(.__wab_flex-container) > picture > img,
  .freeBox___4L4M
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 8px;
  }
}
.button__prG0M:global(.__wab_instance) {
  position: relative;
}
.svg___3Mjut {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__dE4Vd {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__snaWr:global(.__wab_instance) {
  position: relative;
}
.svg__tJsHc {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__dtqJc {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.homeCta:global(.__wab_instance) {
  position: relative;
}
.footer:global(.__wab_instance) {
  position: relative;
}
