.root {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 64px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    width: 100%;
    height: 100%;
    min-width: 0;
    min-height: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .root > :global(.__wab_flex-container) {
    min-width: 0;
    min-height: 0;
  }
}
.header:global(.__wab_instance) {
  position: relative;
}
.topSection:global(.__wab_instance) {
  position: relative;
}
.freeBox__xcT4T {
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: var(--token-DRPugNPrh3qNy0);
  display: flex;
  position: relative;
  min-width: 0;
}
.freeBox__xcT4T > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__xcT4T > :global(.__wab_flex-container) > *,
.freeBox__xcT4T > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__xcT4T > :global(.__wab_flex-container) > picture > img,
.freeBox__xcT4T
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__xcT4T {
    width: 100%;
    height: auto;
    max-width: var(--token-DRPugNPrh3qNy0);
    display: flex;
    position: relative;
    flex-direction: column;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__xcT4T > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__xcT4T > :global(.__wab_flex-container) > *,
  .freeBox__xcT4T > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__xcT4T > :global(.__wab_flex-container) > picture > img,
  .freeBox__xcT4T
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.freeBox__eEiMr {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  max-width: 1000px;
  min-width: 0;
}
.freeBox__eEiMr > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__eEiMr > :global(.__wab_flex-container) > *,
.freeBox__eEiMr > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__eEiMr > :global(.__wab_flex-container) > picture > img,
.freeBox__eEiMr
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__eEiMr {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100%;
    max-width: 1000px;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__eEiMr > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__eEiMr > :global(.__wab_flex-container) > *,
  .freeBox__eEiMr > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__eEiMr > :global(.__wab_flex-container) > picture > img,
  .freeBox__eEiMr
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.freeBox__qwAj {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.text__mVmKa {
  font-size: 96px;
  font-weight: 700;
  text-align: center;
  line-height: 1;
  color: var(--token-NEon4Y--Z);
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__mVmKa {
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    line-height: 1;
    color: var(--token-NEon4Y--Z);
  }
}
.text__lrC8X {
  font-size: 96px;
  font-weight: 700;
  text-align: center;
  line-height: 1;
  color: rgba(51, 140, 245, 0);
  background: linear-gradient(
      90deg,
      rgb(51, 140, 245) 0%,
      rgb(79, 209, 197) 100%
    )
    0% 0% / 100% 100% padding-box /* clip: text **/;
  background-clip: text;
  -webkit-background-clip: text;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__lrC8X {
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    line-height: 1;
    color: rgba(51, 140, 245, 0);
    background: linear-gradient(
        90deg,
        rgb(51, 140, 245) 0%,
        rgb(79, 209, 197) 100%
      )
      0% 0% / 100% 100% padding-box /* clip: text **/;
    background-clip: text;
    -webkit-background-clip: text;
  }
}
.text__oFqCo {
  font-size: 20px;
  text-align: center;
  max-width: 768px;
  position: relative;
  align-self: center;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__oFqCo {
    font-size: 24px;
    text-align: center;
    max-width: 768px;
    position: relative;
    align-self: center;
  }
}
.freeBox__kdnnJ {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox__kdnnJ > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  margin-left: calc(0px - 12px);
  width: calc(100% + 12px);
}
.freeBox__kdnnJ > :global(.__wab_flex-container) > *,
.freeBox__kdnnJ > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__kdnnJ > :global(.__wab_flex-container) > picture > img,
.freeBox__kdnnJ
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 12px;
}
.button__fyh75:global(.__wab_instance) {
  position: relative;
}
.svg__dk0J5 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__z1NCm {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.button__y9Bmn:global(.__wab_instance) {
  position: relative;
}
.svg__a3Gh {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__zVkm9 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.freeBox__e4Cj8 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  max-width: 1000px;
  min-width: 0;
}
.img___8Eyce {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img___8Eyce > picture > img {
  object-fit: cover;
}
.img___8Eyce > .__wab_img-spacer > img {
  object-fit: cover;
}
.solutions:global(.__wab_instance) {
  position: relative;
}
.columns {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  min-width: 0;
}
.columns > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.columns > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * 32px) * 6 / 12);
}
.columns > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * 32px) * 6 / 12);
}
.columns > :global(.__wab_flex-container) > *,
.columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns > :global(.__wab_flex-container) > picture > img,
.columns
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 24px);
    height: calc(100% + 24px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) > *,
  .columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns > :global(.__wab_flex-container) > picture > img,
  .columns
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 24px;
  }
}
.column__xliYk {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__xliYk {
    width: 100%;
  }
}
.freeBox__ru5Vn {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox__ru5Vn > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox__ru5Vn > :global(.__wab_flex-container) > *,
.freeBox__ru5Vn > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ru5Vn > :global(.__wab_flex-container) > picture > img,
.freeBox__ru5Vn
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ru5Vn {
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ru5Vn > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.text__kDiNi {
  font-size: 32px;
  font-weight: 700;
  color: var(--token-NEon4Y--Z);
  position: relative;
}
.text__pcYsP {
  position: relative;
  color: var(--token-jBhCqxBbh1U);
}
.featureCard___3Yoqg:global(.__wab_instance) {
  position: relative;
}
.svg___5KzCx {
  position: relative;
  object-fit: cover;
  width: 48px;
  height: 48px;
}
.svg___85JV {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard___7GLn:global(.__wab_instance) {
  position: relative;
}
.svg___2DBM {
  position: relative;
  object-fit: cover;
  width: 48px;
  height: 48px;
}
.svg__i9JTy {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__nBxYr:global(.__wab_instance) {
  position: relative;
}
.svg__vQzNe {
  position: relative;
  object-fit: cover;
  width: 48px;
  height: 48px;
}
.svg___8Zktq {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.column__wVd7Q {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__wVd7Q {
    width: 100%;
  }
}
.img__kdDps {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img__kdDps > picture > img {
  object-fit: cover;
}
.img__kdDps > .__wab_img-spacer > img {
  object-fit: cover;
}
.howItWorks:global(.__wab_instance) {
  position: relative;
}
.freeBox__xwUxd {
  flex-direction: row;
  display: flex;
  width: 100%;
  min-width: 0;
}
.freeBox__xwUxd > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.freeBox__xwUxd > :global(.__wab_flex-container) > *,
.freeBox__xwUxd > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__xwUxd > :global(.__wab_flex-container) > picture > img,
.freeBox__xwUxd
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
  margin-top: 20px;
}
.featureCard__tarw:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg___2AfYr {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: var(--token-7f3zkWdQfXL9Z-);
}
.svg__pqV8L {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__el14W:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__jDfIj {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: var(--token-7f3zkWdQfXL9Z-);
}
.svg__fgRwc {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__wpZie:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__j84 {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: var(--token-7f3zkWdQfXL9Z-);
}
.svg___1Npj7 {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__yfC6L:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__dpDuX {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: var(--token-7f3zkWdQfXL9Z-);
}
.svg__t7ZPb {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard___8Wd8H:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__bv9Db {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: var(--token-7f3zkWdQfXL9Z-);
}
.svg__odCtZ {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard___4Ke5:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__gGS {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: var(--token-7f3zkWdQfXL9Z-);
}
.svg__iCk1N {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.freeBox__c3TgN {
  display: block;
  position: absolute;
  left: 50%;
  top: auto;
  width: 2px;
  height: 77px;
  bottom: -88px;
  border: 1px solid var(--token-IvegMwa8irZwY5);
}
.validation:global(.__wab_instance) {
  position: relative;
}
.freeBox__bzlr0 {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__bzlr0 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.freeBox__bzlr0 > :global(.__wab_flex-container) > *,
.freeBox__bzlr0 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__bzlr0 > :global(.__wab_flex-container) > picture > img,
.freeBox__bzlr0
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 64px;
}
.freeBox__kHtxw {
  flex-direction: row;
  display: flex;
}
.freeBox__kHtxw > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - 48px);
  width: calc(100% + 48px);
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox__kHtxw > :global(.__wab_flex-container) > *,
.freeBox__kHtxw > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__kHtxw > :global(.__wab_flex-container) > picture > img,
.freeBox__kHtxw
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 48px;
  margin-top: 24px;
}
.svg___5Ovh3 {
  position: relative;
  object-fit: cover;
  width: 124px;
  height: 24px;
  color: var(--token-jBhCqxBbh1U);
  flex-shrink: 0;
}
.svg__a67Ml {
  position: relative;
  object-fit: cover;
  width: 83px;
  height: 30px;
  color: var(--token-jBhCqxBbh1U);
  flex-shrink: 0;
}
.svg___9UZ7S {
  position: relative;
  object-fit: cover;
  width: 125px;
  height: 39px;
  color: var(--token-jBhCqxBbh1U);
  flex-shrink: 0;
}
.svg__jtPbe {
  position: relative;
  object-fit: cover;
  width: 113px;
  height: 30px;
  color: var(--token-jBhCqxBbh1U);
  flex-shrink: 0;
}
.svg__vxTjv {
  position: relative;
  object-fit: cover;
  width: 109px;
  height: 33px;
  color: var(--token-jBhCqxBbh1U);
  flex-shrink: 0;
}
.testimonial:global(.__wab_instance) {
  position: relative;
}
.homeCta:global(.__wab_instance) {
  position: relative;
}
.footer:global(.__wab_instance) {
  position: relative;
}
