.root {
  flex-direction: column;
  display: flex;
  width: 100%;
  height: auto;
  position: relative;
  min-width: 0;
  padding: 32px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 0px;
  margin-top: 32px;
}
.freeBox__yhvFk {
  display: block;
  position: relative;
  width: 100%;
  height: 1px;
  min-width: 0;
  flex-shrink: 0;
  border: 1px solid var(--token-IvegMwa8irZwY5);
}
.freeBox__xteaC {
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: var(--token-DRPugNPrh3qNy0);
  display: flex;
  position: relative;
  left: auto;
  top: auto;
  min-width: 0;
}
.freeBox__xteaC > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.freeBox__xteaC > :global(.__wab_flex-container) > *,
.freeBox__xteaC > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__xteaC > :global(.__wab_flex-container) > picture > img,
.freeBox__xteaC
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__xteaC {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__xteaC > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__xteaC > :global(.__wab_flex-container) > *,
  .freeBox__xteaC > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__xteaC > :global(.__wab_flex-container) > picture > img,
  .freeBox__xteaC
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.freeBox__aOoCq {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 128px;
  flex-shrink: 0;
}
.freeBox__aOoCq > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__aOoCq > :global(.__wab_flex-container) > *,
.freeBox__aOoCq > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__aOoCq > :global(.__wab_flex-container) > picture > img,
.freeBox__aOoCq
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.iconLink__rye33:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__tRhnm {
  position: relative;
  object-fit: cover;
  color: var(--token-vaTuh5tFL3B);
  width: 32px;
  height: 32px;
}
.freeBox___4SNMk {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.link__qfavy {
  color: var(--token-kJyWQZ4-yF8X4u);
  font-size: 14px;
}
.root .link__qfavy:hover {
  text-decoration-line: underline;
  color: var(--token-NEon4Y--Z);
}
.text__umwVk {
  position: relative;
  font-size: 14px;
  color: var(--token-kJyWQZ4-yF8X4u);
}
.link__tVuQy {
  position: relative;
  color: var(--token-kJyWQZ4-yF8X4u);
  font-size: 14px;
}
.root .link__tVuQy:hover {
  text-decoration-line: underline;
  color: var(--token-NEon4Y--Z);
}
.freeBox__quiHg {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox__quiHg > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-end;
  align-items: stretch;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.freeBox__quiHg > :global(.__wab_flex-container) > *,
.freeBox__quiHg > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__quiHg > :global(.__wab_flex-container) > picture > img,
.freeBox__quiHg
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__quiHg {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__quiHg > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__quiHg > :global(.__wab_flex-container) > *,
  .freeBox__quiHg > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__quiHg > :global(.__wab_flex-container) > picture > img,
  .freeBox__quiHg
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.freeBox__dF3Lv {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 150px;
  flex-shrink: 0;
}
.freeBox__dF3Lv > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__dF3Lv > :global(.__wab_flex-container) > *,
.freeBox__dF3Lv > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__dF3Lv > :global(.__wab_flex-container) > picture > img,
.freeBox__dF3Lv
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__afOp1 {
  position: relative;
  font-weight: 500;
  font-size: 16px;
}
.link__up8K0 {
  font-size: 14px;
  position: relative;
  color: var(--token-kJyWQZ4-yF8X4u);
}
.root .link__up8K0:hover {
  color: var(--token-NEon4Y--Z);
}
.link__nbthu {
  position: relative;
  color: var(--token-kJyWQZ4-yF8X4u);
  font-size: 14px;
}
.root .link__nbthu:hover {
  color: var(--token-NEon4Y--Z);
}
.link___4N4ME {
  position: relative;
  color: var(--token-kJyWQZ4-yF8X4u);
  font-size: 14px;
}
.root .link___4N4ME:hover {
  color: var(--token-NEon4Y--Z);
}
.link__dcdP8 {
  position: relative;
  color: var(--token-kJyWQZ4-yF8X4u);
  font-size: 14px;
}
.root .link__dcdP8:hover {
  color: var(--token-NEon4Y--Z);
}
.link__js8AP {
  position: relative;
  color: var(--token-kJyWQZ4-yF8X4u);
  font-size: 14px;
}
.root .link__js8AP:hover {
  color: var(--token-NEon4Y--Z);
}
.freeBox__rjQxo {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 150px;
  flex-shrink: 0;
}
.freeBox__rjQxo > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__rjQxo > :global(.__wab_flex-container) > *,
.freeBox__rjQxo > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__rjQxo > :global(.__wab_flex-container) > picture > img,
.freeBox__rjQxo
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__jnpL2 {
  position: relative;
  font-weight: 500;
  font-size: 16px;
}
.link__vFn46 {
  position: relative;
  color: var(--token-kJyWQZ4-yF8X4u);
  font-size: 14px;
}
.root .link__vFn46:hover {
  color: var(--token-NEon4Y--Z);
}
.link__w2EMh {
  position: relative;
  color: var(--token-kJyWQZ4-yF8X4u);
  font-size: 14px;
}
.root .link__w2EMh:hover {
  color: var(--token-NEon4Y--Z);
}
.link__rzx6T {
  position: relative;
  color: var(--token-kJyWQZ4-yF8X4u);
  font-size: 14px;
}
.root .link__rzx6T:hover {
  color: var(--token-NEon4Y--Z);
}
.link___3JJZj {
  position: relative;
  color: var(--token-kJyWQZ4-yF8X4u);
  font-size: 14px;
}
.root .link___3JJZj:hover {
  color: var(--token-NEon4Y--Z);
}
.link__f2Szn {
  position: relative;
  color: var(--token-kJyWQZ4-yF8X4u);
  font-size: 14px;
}
.root .link__f2Szn:hover {
  color: var(--token-NEon4Y--Z);
}
.freeBox__oMtpa {
  flex-direction: column;
  display: flex;
  width: 150px;
  flex-shrink: 0;
}
.freeBox__oMtpa > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__oMtpa > :global(.__wab_flex-container) > *,
.freeBox__oMtpa > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__oMtpa > :global(.__wab_flex-container) > picture > img,
.freeBox__oMtpa
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__kRcSc {
  position: relative;
  font-weight: 500;
  font-size: 16px;
}
.link__hauDx {
  position: relative;
  color: var(--token-kJyWQZ4-yF8X4u);
  font-size: 14px;
}
.root .link__hauDx:hover {
  color: var(--token-NEon4Y--Z);
}
.link__bd6Gi {
  position: relative;
  color: var(--token-kJyWQZ4-yF8X4u);
  font-size: 14px;
}
.root .link__bd6Gi:hover {
  color: var(--token-NEon4Y--Z);
}
.link__muRi {
  position: relative;
  color: var(--token-kJyWQZ4-yF8X4u);
  font-size: 14px;
}
.root .link__muRi:hover {
  color: var(--token-NEon4Y--Z);
}
.link__lu0I {
  position: relative;
  color: var(--token-kJyWQZ4-yF8X4u);
  font-size: 14px;
}
.root .link__lu0I:hover {
  color: var(--token-NEon4Y--Z);
}
.link__w7Tl8 {
  position: relative;
  color: var(--token-kJyWQZ4-yF8X4u);
  font-size: 14px;
}
.root .link__w7Tl8:hover {
  color: var(--token-NEon4Y--Z);
}
.freeBox__yLlh7 {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 200px;
  flex-shrink: 0;
}
.freeBox__yLlh7 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__yLlh7 > :global(.__wab_flex-container) > *,
.freeBox__yLlh7 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__yLlh7 > :global(.__wab_flex-container) > picture > img,
.freeBox__yLlh7
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__mBfAo {
  position: relative;
  font-weight: 500;
  font-size: 16px;
}
.text__tZ6B0 {
  position: relative;
  font-size: 14px;
  color: var(--token-kJyWQZ4-yF8X4u);
}
.textInput:global(.__wab_instance) {
  position: relative;
}
.svg__i7BPo {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button:global(.__wab_instance) {
  position: relative;
}
.svg__ddaFb {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-p-fCTrfjtL4);
  width: 1em;
  height: 1em;
}
.svg__vejzx {
  position: relative;
  object-fit: cover;
  width: 12px;
  height: 12px;
  color: var(--token-p-fCTrfjtL4);
}
.svg__v1Vf7 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.freeBox__plLa {
  display: block;
  position: relative;
  width: 100%;
  height: 1px;
  min-width: 0;
  flex-shrink: 0;
  border: 1px solid var(--token-IvegMwa8irZwY5);
}
.freeBox__byg5R {
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: var(--token-DRPugNPrh3qNy0);
  display: flex;
  position: relative;
  left: auto;
  top: auto;
  min-width: 0;
}
.freeBox__byg5R > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__byg5R {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__byg5R > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__byg5R > :global(.__wab_flex-container) > *,
  .freeBox__byg5R > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__byg5R > :global(.__wab_flex-container) > picture > img,
  .freeBox__byg5R
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 8px;
  }
}
.freeBox__rpdMw {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.text__ayhVy {
  position: relative;
  height: auto;
  width: auto;
  font-size: 14px;
  color: var(--token-kJyWQZ4-yF8X4u);
}
.freeBox__xizmX {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox__xizmX > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__xizmX > :global(.__wab_flex-container) > *,
.freeBox__xizmX > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__xizmX > :global(.__wab_flex-container) > picture > img,
.freeBox__xizmX
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.iconLink__w9Svi:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__kvw3N {
  position: relative;
  object-fit: cover;
  color: var(--token-vaTuh5tFL3B);
  width: 32px;
  height: 32px;
}
.root .svg__kvw3N:hover {
  color: var(--token-dph1wZ7NjV9);
}
.iconLink__j6Jtd:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__u3AKj {
  position: relative;
  object-fit: cover;
  color: var(--token-vaTuh5tFL3B);
  width: 32px;
  height: 32px;
}
.root .svg__u3AKj:hover {
  color: var(--token-dph1wZ7NjV9);
}
.iconLink__sdHwe:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__xk8Fr {
  position: relative;
  object-fit: cover;
  color: var(--token-vaTuh5tFL3B);
  width: 32px;
  height: 32px;
}
.root .svg__xk8Fr:hover {
  color: var(--token-dph1wZ7NjV9);
}
